<h1 class="mt-4">Nova Categoria</h1>
<div class="card my-5" style="padding: 3em;">
  <form class="" action="/admin/categorias/nova" method="post">
    <label for="nome">Nome</label>
    <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome da categoria">

    <label for="slug">Slug: </label>
    <input class="form-control" type="text" name="slug" id="slug" placeholder="Slug da categoria">

    <button type="button" name="button" class="btn btn-success my-4">Criar</button>
  </form>
</div>
