{{#each erros}}
  <div class="mt-5 alert alert-danger">
    {{text}}
  </div>

{{/each}}


<h1 class="mt-4">Editar Categoria</h1>
<div class="card my-5" style="padding: 3em;">
  <form class="" action="/admin/categorias/edit/salvar" method="post">
    <input type="hidden" name="id" value="{{cate._id}}">

    <label for="nome">Nome</label>
    <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome da categoria" value="{{cate.nome}}">

    <label for="slug">Slug: </label>
    <input class="form-control" type="text" name="slug" id="slug" placeholder="Slug da categoria" value="{{cate.slug}}">

    <button type="submit" name="button" class="btn btn-success my-4">Salvar</button>
  </form>
</div>
