<div class="row mt-5" align='center'>
  <div class="col-3"></div>
  <div class="col-6" align='center'>
    <div class="card">
      <div class="card-body">
        <h3>Deseja mesmo deletar a postagem "{{post.titulo}}"?</h3>
        <a href="/admin/postagens/deletar/{{post._id}}"> <button class="btn btn-success">Sim</button> </a>
        <a href="/admin/postagens"> <button class="btn btn-danger">Não</button> </a>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
