<div class="row mt-5">
  <div class="col"></div>
  <div class="col" align='center'>
    <div class="card">
      <div class="card-body">
        <form class="form" action="/usuarios/salvar" method="post">
          <label class="mt-3" for="nome">Nome</label>
          <input class="form-control" type="text" name="nome" id="nome">

          <label class="mt-3" for="email">Email</label>
          <input class="form-control" type="email" name="email" id="email">

          <label class="mt-3" for="senha">Senha</label>
          <input class="form-control" type="password" name="senha" id="senha">

          <button class="my-3 btn btn-dark" type="submit">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
